
#container {

    margin-top: 7px;
}

#header-img {
    width: 550px;
    position: fixed;
}

#heade-img {
        flex-wrap: wrap;
        min-height: 275px;
    }

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: turquoise;
    float: right;
    width: 1338px;
}

li {
    float: right;
    width: 300px;

}

li a {
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar {
   position: fixed;
   margin-left: 550px;               

}

#information {
   text-align: center;
   padding-top: 50px;
   
}

input[type=email] {
width: 15%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

#email {
    margin-top: 20px;
    text-align: center;
}

#submit {
width: 15%;
padding: 12px;
border: 1px solid orange;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
font-size: 20px;
background-color: turquoise;

}

#box-container {
  max-width: 1200px;
  margin:40px auto 0 auto;
  /**flex-direction: row;
  
}

.clases {
    
  /**display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;**/
    
        
}

#mlb-img {                
  flex: 1;
  /**order: 1;**/
  width:  250px;
  padding:15px;
  box-sizing:border-box;
  
  /**display: flex;
    
    flex-wrap: wrap;
    
    /**justify-content: center;
    align-items: center;**/
  /**float: left;
    **/
   
}

#mlb-sports {
  flex: 1;
  /**order: 2;**/
  padding:15px;
  box-sizing:border-box;
  
  /**display: flex;
  
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;**/
  /** float: left;
   position: relative;
   top: 10px;
   left: 30px;
   font-size: 25px;**/

}

#MLB {
  flex: 1;
  /**display: flex;
  
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
   /** margin-top: 80px;
    margin-left: 350px;**/
   
}

.clear { 
clear:both; 

} 

#nhl-img {
  flex: 1;
  /**order: 3;**/
  width:135px;
  padding:15px;
  box-sizing:border-box;
  
 /** display: flex;
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
    /**float: left;
    **/
}

#nhl-sports {
  flex: 1;
  /**order: 4;**/
  padding:15px;
  box-sizing:border-box;
  
 /** display: flex;
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
   /** float: left;
    position: relative;
   top: 40px;
   left: 50px;
   font-size: 25px;**/
}

#NHL {
  flex: 1;
 /** display: flex;
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
   /** margin-left: 350px;
    margin-top: 80px;**/

}

#nba-img {
  flex: 1;
  /**order: 5;**/
  width: 245px;
  padding:15px;
  box-sizing:border-box;
  
 /** display: flex;
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
       /** float: left;
        position: relative;
        left: 260px;
        top: 80px;**/
}


#nba-sports  {
  flex: 1;
  /**order: 6;**/
  padding:15px;
  box-sizing:border-box;
  
  /**display: flex;
  flex-wrap: wrap;
  /**flex-direction: column;
  justify-content: center;
  align-items: center;
    /**float: left;
    position: relative;
    left: 230px;
    top: 120px;
    font-size: 25px;**/
}

#NFL {
  flex: 1;
/**margin-top: 50px;
  /**display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /**flex-direction: row;**/
          
    }

    #nfl-img    {
      flex: 1;
      /**order: 7;**/
      width: 120px;
      padding:15px;
      box-sizing:border-box;
  
      /**margin-right: 50px;**/
      /** display: flex;
     flex-wrap: wrap;
     flex-direction: column;
      justify-content: center;
      align-items: center;
      /**flex-direction: row;
      /**float: left;
        position: relative;
        top: 120px;
        left:340px;
        width: 130px;**/

    }

    #nfl-sports {
      flex: 1;
      /**order: 8;**/
      padding:15px;
      box-sizing:border-box;
  
      /**flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: row;
     /** display: flex;
      /**order:8;
      /*float: left;
        position:relative;
        top: 150px;
        left: 400px;
        font-size:25px;
    }*/
  }


   #video {
       position: relative;
       top: 150px;
        left: 600px;
   } 

    #intel {
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
      }

   
   .sports {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 4);
    margin: 30px;
    border: 1px solid #000;
    border-radius: 3px;
    height:auto;
  }

  .sports > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  .sports > h2 {
    margin-top: 30px;
      }
  
  .sports > ol {
   justify-content: center;
        
  }
  
  .sports > ol > li {
    justify-content: center;
    list-style-position: inside;
    
  }

  #mlb-btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border-radius: 2px;
    background: transparent;
    background-color: #f1c40f;
    cursor: pointer;

  }

  #mlb-btn:hover {
    background-color:red;
    transition: background-color 1s;
  }

  #nhl-btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border-radius: 2px;
    background: transparent;
    background-color: #f1c40f;
    cursor: pointer;

  }

  #nhl-btn:hover {
    background-color:red;
    transition: background-color 1s;
  }

  #nba-btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border-radius: 2px;
    background: transparent;
    background-color: #f1c40f;
    cursor: pointer;

  }

  #nba-btn:hover {
    background-color:red;
    transition: background-color 1s;
  }

  #nfl-btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border-radius: 2px;
    background: transparent;
    background-color: #f1c40f;
    cursor: pointer;

  }

  #nfl-btn:hover {
    background-color:red;
    transition: background-color 1s;
  }

  
 
  @media (max-width: 800px) {
    #intel {
      flex-direction: column;
    }

    .sports {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }


  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media (max-height:500px) {
    #MLB {
        font-weight: bolder;
    }
  }

    @media (min-width: 600px) {
        #nav-bar {
            font-weight: bolder;
        }
        
    }
@media (min-width:900px) {
  #box-container {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
  }
} 
  
    
